@model MyForum.Data.Topic

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Topic</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="form-group">
                <label>Тема</label>
                <input class="form-control" name="Name">
            </div>
            <div class="form-group">
                <label>Техт</label>
                <textarea name="TopicDescription" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Відправити</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
