@model MyForum.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Add user";
}
    <form asp-action="Create" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Пароль</label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">Ім'я</label>
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SecondName" class="control-label">Фамілія</label>
            <input type="text" asp-for="SecondName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="control-label">Дата народження</label>
            <input asp-for="BirthDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IdGender" class="control-label">Стать</label><br>
            <select asp-for="IdGender" asp-items="ViewBag.Genders"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
        </div>
    </form>