@model MyForum.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Edit user";
}
    <form asp-action="Edit" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label">Імя</label>
            <input type="text" asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SecondName" class="control-label">Фамілія</label>
            <input type="text" asp-for="SecondName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="control-label">День народження</label>
            <input asp-for="BirthDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IdGender" class="control-label">Стать</label>
            <input type="number" asp-for="IdGender" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary " />
        </div>
    </form>