@model MyForum.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Вхід на форум</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

    </div>
    <small>
        <a asp-controller="Account" asp-action="ForgotPassword">Забули пароль?</a>
    </small>
    <div>
        <input class="btn btn-primary btn-dark button-enter" type="submit" value="Увійти" />
    </div>
</form>