@model MyForum.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Реєстрація нового користувача</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-2">
            <div>Email</div>
            <label asp-for="BirthDate"></label><br />
            <label asp-for="BirthDate"></label><br />
            <label asp-for="BirthDate"></label><br />
        </div>
        <div class="col-md-10">
            <div>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                
                <input asp-for="BirthDate" />
                <span asp-validation-for="BirthDate"></span>
            </div>
            <div>
               
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div>
                
                <input asp-for="SecondName" />
                <span asp-validation-for="SecondName"></span>
            </div>
            <div> 
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <input asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <input class="btn btn-primary btn-dark button-enter" type="submit" value="Зареєструватися" />
            </div>
        </div>
        </div>
</form>